
/* Header
---------------------------------------------------------------------------------------------------- */

.header {
	background-color: white;
	overflow: hidden;
	.content {
		padding-top: 40px;
		padding-bottom: 35px;
	}
	.logo {
		float: left;
		img {
			width: 64px;
		}
	}
	h5 {
		color: $grey4;
	}
}

ul.nav {
	font-family: $meta;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 2px;
	float: right;
	list-style: none;
	li {
		display: inline;
		margin: 0 0 0 30px;
	}
}
